    <footer class="row">
        <div class="col_12 backlogo2"><img src="assets/img/1-logo.png" class="logo2" alt=""></div>
        <div class="col_8">
            <p class="p1">Informations pratiques</p>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="col_4 divf">
            <p>©2024 I-lounis, Tous droits réservés.</p>
        </div>
    </footer>