{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">A propos :</h1>
    <div class="d-flex justify-content-center">
    <div class="row col-6 text-center">
        <div class="card m-3">
            <div class="card-header">
                Notre Forum
            </div>
            <div class="card-body">
                <h5 class="card-title">Qui sommes-nous ?</h5>
                <p class="card-text">On est des gens.</p>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header">
                Principe
            </div>
            <div class="card-body">
                <h5 class="card-title">Des emojis et pas de mot</h5>
                <p class="card-text">Communique sans utiliser de mot</p>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header">
                Pourquoi vous devriez l'utiliser !
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Un acte vaut mille mots</p>
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}